* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

div {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
body {
   background-color: rgb(145, 93, 194);
   color: rgb(19, 17, 17);

}

.producto-carrito {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.titulo {
  font-weight: bold;
}

  .divAltura, .divPeso, .divCalc, .divParte, .divEjer, .divAgreg, .divForm, .divImprov {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .vemos {
    width: 10%;
  }
  .bebe {
    width: 85%;
   

  }
  input, button {
    font-size: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
  }
  
  button {
    cursor: pointer;
    background-color: #6f00ff;
    color: white;
  }

.a1 {
  color: black;
}